/*Self-Hosted Fonts*/
@font-face {
    font-family: Montserrat;
    src: url("assets/fonts/Montserrat.woff2") format('woff2');
}

@font-face {
    font-family: Fredoka;
    src: url("assets/fonts/Fredoka.woff2") format('woff2');
}

/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: inline-block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
button {
    line-height: 1;
}
button:hover {
    cursor: pointer;
}

/*Variables*/
:root {
    --header-dialog-bg-color: #cdc1ff;
    --generic-shadow: 0px 4px 4px gray;
    --task-nav-bg-color: #A294F9;
    --btn-color: #8379C3;
    --nav-toggle-size: 48px;
    --action-btn-size: 36px;
    --small-btn-size: 20px;
    --btn-shadow: 0px 2px 4px #554f7e;
    --main-bg-color: #F5EFFF;
}

body {
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header header"
        "nav main";
    grid-template-rows: 120px 1fr; 
    grid-template-columns: 360px 1fr;
    transition: 0.3s;
    background-color: var(--main-bg-color);
}

h1, h2 {
    font-family: Fredoka, sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

header {
    grid-area: header;
    background-color: var(--header-dialog-bg-color); 
    display: grid;
    place-content: center;
    box-shadow: var(--generic-shadow);
    text-shadow: var(--generic-shadow); 
    z-index: 1; /* To shadow all elements*/
    position: relative;
}

#nav-toggle {
    height: var(--nav-toggle-size);
    width: var(--nav-toggle-size);
    position: absolute;
    top: 50%;
    left:0;
    transform: translateY(-50%);
    margin: 0px 36px;
    border-radius: 8px;
    border: none;
    background-color: var(--btn-color); 
    box-shadow: var(--btn-shadow); /*fix*/
    background-image: url("./assets/images/nav-toggle-icon.svg");
    background-size: cover;
    transition: 0.3s;
}

#nav-toggle:hover {
    transform: translateY(-50%) scale(1.1);
}

#nav-toggle:active {
    transform: translateY(-50%) scale(0.8);
}

nav {
    transition: 0.3s;
    grid-area: nav;
    background-color: var(--task-nav-bg-color); 
    color: white;
    padding: 48px;
    transform: translateX(-20px);
}

.h2-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    text-shadow: var(--generic-shadow); 
}

.nav-btn {
    display: block;
    height: 36px;
    width: 100%;
    border: 0;
    border-radius: 8px;
    text-align: left;
    padding: 0px 24px;
    font-family: Montserrat, sans-serif;
    background-color: inherit;
    color: white;
    font-size: 1.25rem;
    transition: 0.3s;
    text-shadow: var(--generic-shadow); 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-btn:hover {
    transform: scale(1.05);
    background-color: var(--btn-color);
}

.nav-btn:active {
    transform: scale(0.9);
}

nav .btn-wrapper {
    margin: 8px 0px;
}

.removed {
    transform: translateX(-100vw);
}

.small-btn {
    min-height: var(--small-btn-size);
    min-width: var(--small-btn-size);
    background-color: inherit;
    color: inherit;
    background-size: contain;
    border: none;
}

.action-btn {
    transition: 0.3s;
    height: var(--action-btn-size); 
    width: var(--action-btn-size); 
    border-radius: 8px;
    border: none;
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    background-color: var(--btn-color); 
    color: white;
    box-shadow: var(--btn-shadow); 
}

.action-btn:hover {
    transform: scale(1.1);
    filter: brightness(90%);
}

.action-btn:active {
    transition: 0.1s;
    transform: scale(0.9);
}

main {
    background-color: var(--main-bg-color);
    padding: 48px;
    min-width: 480px;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#filter-btn {
    background-image: url("./assets/images/filter.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.task {
    height: 36px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
    font-family: Montserrat, sans-serif;
    background-color:var(--task-nav-bg-color); 
    color: white;
    box-shadow: var(--generic-shadow); 
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.checkbox {
    height: var(--small-btn-size);
    width: var(--small-btn-size);
    border-radius: 8px;
    border: none;
    transition: 0.3s;
}

.checkbox:hover {
    filter: brightness(90%);
}

.task-name {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-info {
    background-image: url("./assets/images/info.svg");
}

.important {
    background-image: url("./assets/images/star-unclicked.svg");
}

.important.clicked {
    background-image: url("./assets/images/star-clicked.svg");
}

.edit {
    background-image: url("./assets/images/edit.svg");
}

.delete {
    background-image: url("./assets/images/delete.svg");
}

dialog { 
    position: absolute;
    top: 50%;
    left: 50%;
    width: 480px;
    height: fit-content;
    transform: translate(-50%, -50%) scale(0);
    border: none;
    border-radius: 8px;
    box-shadow: var(--generic-shadow);
    padding: 32px;
    background-color: var(--header-dialog-bg-color);
}

dialog.open {
    transform: translate(-50%, -50%) scale(1);
}

.close,
.confirm {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.close {
    background-image: url("./assets/images/close.svg");
}

.confirm {
    background-image: url("./assets/images/confirm.svg");
}

label,
.info,
.filter { 
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

input,
textarea { 
    width: 100%;
    border-radius: 8px;
    border: none;
    resize: none;
    margin-bottom: 8px;
}

.name-validation {
    display: none;
}

.name-validation.invalid {
    display: inline;
    font-weight: normal;
    color: red;
}

.name-input.invalid {
    box-shadow: 0px 0px 4px 0px red;
}

dialog .btn-wrapper {
    margin-top: 16px;
}

.info {
    margin: 16px 0px;
}

input,
textarea,
.info span {
    font-weight: normal;
}

dialog:has(#filter-wrapper) {
    width: 240px;
}

#filter-wrapper span {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 16px;
}
